body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2d6a4f;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #2d6a4f;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline; /* Surligner le texte */
    color: rgb(13, 16, 15); /* Appliquer une couleur différente */
    font-weight: bold; /* Optionnel : mettre le texte en gras */
}

.btn {
    padding: 10px 15px;
    background-color: #d8f3dc;
    border-radius: 20px;
    text-decoration: none;
    color: #2d6a4f;
    font-weight: bold;
}
.hero {
    text-align: center;
    padding: 50px 20px;
}
.hero h1 {
    font-size: 36px;
    color: #1b4332;
}

.hero p {
    color: #6c757d;
}
.parcelles {
    position: relative;
    left: 45px;
    display: inline-block;
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
    justify-content: center; /* Centre les parcelles */
    align-items: stretch; /* Assure une hauteur uniforme */
    gap: 30px; /* Augmente l’espace entre les parcelles */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    flex: 1; /* Permet aux cartes de s’adapter dynamiquement */
    max-width: 300px;
    min-width: 260px; /* Assure une taille minimale */
    max-height: 400px;
    min-height: 400px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.card-content {
    position: relative;
    bottom: 15px;
    padding: 16px;
}

.disponible {
    color: #2d6a4f;
    font-weight: bold;
}

.occupe {
    color: red;
    font-weight: bold;
}

.footer{
    padding-bottom: 200px;
}
@media (max-width: 768px) {
    .parcelles {
        flex-direction: column; /* Met les cartes en colonne sur petits écrans */
        align-items: center;
    }

    .card {
        width: 80%; /* Évite une disposition trop compacte */
    }
}